@media only screen and (min-width: 69em) {

    nav {
        background: var(--primary-color); /* Old browsers */
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */    
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
   }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 20px;
    }
    main, footer{
        width: 1100px;
        margin: 0 auto;
    }

    .heading {
        font-size: 100%;
    }

    h2 {
        font-size: 30px;
    }


    /* --------grid-------- */

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    div.card:hover {
        box-shadow: 0 0 50px #333;
    }

}