img{
    min-width: 300px;
    min-height: 400px;
    border: 3px solid blue;
    padding: 2px;
    filter: blur(0em);
    transition: filter 0.5s;
}

picture::after{
    content: "\A\A";
    white-space: pre;
}

body{
    text-align: center;
}

