@import url('https://fonts.googleapis.com/css?family=Questrial|Manrope');
:root{
    --primary-color: #5e5e5e; /*Navy */
    --secondary-color: #333333; /*Light lime*/
    --accent1-color: #Fcfaf9; /*Light navy */
    --accent2-color: #abd8bc; /*Purple */
    --background-color: #f3d3bd;

    --heading-font: 'Questrial', sans-serif;
    --paragraph-font: 'Manrope', sans-serif;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
html, body {
    background-color: var(--accent2-color);
}

main {

    background-color: var(--accent1-color);
}

header, footer {
    background-color: var(--accent2-color);
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}
footer {
    font-family: var(--paragraph-font);
}
footer a:link, footer a:visited {
    color: var(--accent1-color);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* -------header/footer items------- */

br.responsive{
    display: inline;
}




/* -----------nav------------ */

nav ul li a:hover{background-color: black;}

nav ul.hide {display: none;}

nav ul li.active a{background-color: var(--accent1-color); color: var(--primary-color);}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--primary-color);
    color: black;
    font-weight: bold;
}

nav {
    font-family: var(--heading-font);
    font-size: 20px;
    line-height: 35px;
}

nav ul {
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    background: var(--secondary-color);
    padding: 0;
    margin: 0;
}

nav a:link, nav a:visited {
    color: var(--background-color);
    text-decoration: none;
}
nav a:hover {
    color: var(--accent2-color);
}




/* ---------headings--------- */

.left-align{
    padding: 1em;
    text-align: left;
    font-family: var(--heading-font);
}
h1 {
    font-size: 20px;
}
.heading {
    display: flex;
    flex-direction: column;
    font-size: .7em;
}
.heading h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    margin: 0 0 0 17px;
}
.moto {
    font-style: italic;
    letter-spacing: 1pt;
    color: var(--secondary-color);
    margin-left: 20px;
    font-size: 1em;
    font-family: var(--paragraph-font);
}


/* -------grid------ */

main p {
    font-family: var(--paragraph-font);
    font-style: italic;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    margin: 0 auto;
    text-align: center;
}




/* ------lazyload------- */

img{
    filter: blur(0em);
    transition: filter 0.5s;
}


/* -------id-------- */

#pancake {
    display: none;
    font-size: 1.2em;
    margin: 5px;
    padding: 3px;
    font-family: var(--paragraph-font);
}
div#pancake {
    background-color: var(--background-color);
}