@import url('https://fonts.googleapis.com/css?family=Questrial|Manrope');
:root{
    --primary-color: #5e5e5e; /*Navy */
    --secondary-color: #333333; /*Light lime*/
    --accent1-color: #Fcfaf9; /*Light navy */
    --accent2-color: #abd8bc; /*Purple */
    --background-color: #f3d3bd;

    --heading-font: 'Questrial', sans-serif;
    --paragraph-font: 'Manrope', sans-serif;
}


body {
    text-align: center;
}
main {
    margin: 10px;
    background-color: var(--accent1-color);
    box-shadow: 0 0 20px var(--secondary-color);
    padding: .5rem;
    padding-bottom: 1rem;
}
p {
    font-family: var(--paragraph-font);
    margin-top: -10px;
}
footer {
    font-family: var(--paragraph-font);
    padding: 2rem;
    background-color: var(--accent2-color);
}

/* -------headings------- */

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header {
    background-color: var(--accent2-color);
    padding: 2rem;
}

/* ---------image--------- */
img {
    width: 50%;
    box-shadow: 0 0 15px var(--secondary-color);
}



/* ----------grid---------- */

.cards {
    display: grid;
    grid-template-columns: 100%;
}
section {
    margin: 5px;
    padding-bottom: 1rem;
    background-color: var(--background-color);
    border: 3px solid orangered;
}

@media only screen and (min-width: 40em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

