@media only screen and (min-width: 40em) {
    
    nav {
        background: var(--primary-color); /* Old browsers */
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
        
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 15px;
    }
    html, body {
        background-color: var(--background-color);
    }
    main {
        padding: 1em;
    }

    br.responsive {
        display: none;
    }
    article picture.articleimg img {
        float: right;
        margin-right: .5em;
        margin-left: .7em;
    }
    .fiveDay table, th, td {
        padding: 1em;
    }

    .weather-overlay {
        left: 5em;
    }
    .currentSum tr, .currentSum td{
        border: none;
        padding: 0;
    }
    h2 {
        font-size: 15px;
    }

    .moto {
        font-size: 1em;
    }

    .heading {
        font-size: .8em;
    }
    main {
        width: 100%;
    }
    .contact {
        display: flex;
    }
    .map {
        display: inline;
        border: 1px solid black;
        margin: 1em 2em 1em 3em;
    }
    .location {
        font-size: 12px;
        padding: .5em;
        align-self: center;
        margin-left: 4em;
    }
}