@import url('https://fonts.googleapis.com/css?family=Questrial|Manrope');

:root{
    --primary-color: #083d77; /*Navy */
    --secondary-color: #041e39; /*Light lime*/
    --accent1-color: #eef9fc; /*Light navy */
    --accent2-color: #2d8cf0; /*Purple */
    --background-color: #DDF4F9;

    --heading-font: 'Questrial', sans-serif;
    --paragraph-font: 'Manrope', sans-serif;
}
html {
    background-color: var(--background-color);
}
body {
    margin: 0 auto;
    background-color: var(--accent1-color);
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main{
    padding: 1em;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-family: var(--paragraph-font);
}
table, th, td {
    border: 1px solid black;
}
td {
    height: 50px;
    text-align: center;
}
p {
    font-family: var(--paragraph-font)
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color); 
}
h3.site {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}
header h1{
    color: var(--secondary-color);
    font-size: 45px;
}
header h2{
    color: var(--secondary-color);
}
header, footer {
    background-color: var(--accent2-color);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}
footer {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}
.site{
    color: var(--accent1-color);
}
footer a:link, footer a:visited {
    color: var(--accent1-color);
}
nav {
    font-family: var(--heading-font);
    font-size: 25px;
  }
nav ul {
    list-style: none;
    display: grid;
    background: var(--secondary-color);
    padding: 2em;
    border-radius: 10px;
  }
nav a:link, nav a:visited {
    color: var(--background-color);
    text-decoration: none;
}
nav a:hover {
    color: var(--accent2-color);
}
#updated {
    color: yellow;
    font-size: 12px;
}
#headerSample {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}
#navSample {
    color: var(--background-color);
    background-color: var(--accent2-color);
    font-size: 20px;
}
#footNav{
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}


.priority1{
    display: none;
}


@media only screen and (min-width: 60em) {
    .priority1{display: table-cell;}
    nav ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}    